<!-- app/templates/auth/register.html -->
<!-- Form Registrazione (03_Form_e_Auth.md del prof) -->
{% extends 'base.html' %}

{% block title %}Registrazione{% endblock %}

{% block content %}
    <h2>Registrazione</h2>
    <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        
        <input type="submit" value="Registrati">
    </form>
{% endblock %}